@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
  --font-marcellus: var(--font-marcellus);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-soft-linen: var(--soft-linen);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #04363D;
  --card: #ffffff;
  --card-foreground: #04363D;
  --popover: #ffffff;
  --popover-foreground: #04363D;
  --primary: #04363D;
  --primary-foreground: #eeeeee;
  --secondary: #eeeeee;
  --secondary-foreground: #04363D;
  --muted: #eeeeee;
  --muted-foreground: #6b6c6d;
  --soft-linen: #f8f6f7;
  --accent: #eeeeee;
  --accent-foreground: #04363D;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #eeeeee;
  --input: #eeeeee;
  --ring: #6b6c6d;
}

.dark {
  --background: #161616;
  --foreground: #ffffff;
  --card: #161616;
  --card-foreground: #ffffff;
  --popover: #161616;
  --popover-foreground: #ffffff;
  --primary: #ffffff;
  --primary-foreground: #161616;
  --secondary: #6b6c6d;
  --secondary-foreground: #ffffff;
  --muted: #6b6c6d;
  --muted-foreground: #ffffff;
  --soft-linen: #242424;
  --accent: #6b6c6d;
  --accent-foreground: #ffffff;
  --destructive: oklch(0.704 0.191 22.216);
  --border: rgba(107, 108, 109, 0.3);
  --input: rgba(107, 108, 109, 0.4);
  --ring: #6b6c6d;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .custom-container {
    @apply lg:px-20 md:px-6 px-4;
  }

  .section-bottom {
    @apply md:mb-16 mb-10;
  }

  .gradient-overlay {
    @apply before:absolute before:z-10 before:bottom-0 before:left-0 before:h-full before:w-full before:bg-gradient-to-t before:from-black/70 before:via-black/30 before:to-transparent;
  }

  .title {
    @apply text-foreground font-marcellus text-2xl font-bold;
  }

  .post-title {
    @apply text-foreground font-bold text-xl hover:underline;
  }

  .link {
    @apply text-muted-foreground hover:text-foreground hover:underline duration-100 ease-linear;
  }
}
